.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.dashtable {
  margin: 20px;
  border: 2px solid lightgrey;
  border-radius: 5px;
  background-color: #e0edf7;
  box-shadow: 5px 8px 5px #bbb;
}

.dashtable .dataTables_filter {
  margin-top: 4px;
  margin-right: 4px;
  margin-bottom: -6px;
}

.detailtable {
  margin-bottom: 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  box-shadow: 3px 3px 3px 1px #eee;
  /* highlight rows are #e7f3f9, a light blue */
  background-color: #f9f9f9;
}

.detailtable table.table {
  /* apologies for !important; datatables makes their margin- !important, and I want to override it here. */
  margin-top: 0 !important;
}

.detailtable tr {
  padding: 2px;
}

.detailtable .table tbody tr td {
  padding: 1px 0 0 4px;
}

.detailtable .table tbody tr td p {
  padding: 0;
  margin: 0;
}

.detailtable .dataTables_filter {
  margin-top: 4px;
  margin-right: 4px;
  margin-bottom: -1px;
}

#project-select h4 {
  line-height: 34px;
}

#project-select select {
  height: inherit;
  margin: 0 15px 4px 15px;
}

.stat {
  font-style: italic;
}

.row.report_section {
  margin: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 5px 8px 5px #bbb;
}

.report_section p {
  margin-bottom: 2px;
}

.detailtable table {
  margin-bottom: 0;
}

.detailtable .question {
  height: 16px;
  width: 16px;
  margin-left: 10px;
}

.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #f0f5f7;
}

p.spacer {
  margin-bottom: 1em;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.amplio-logo {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 2em;
    color: #3ca779 !important; /* logo color */
}

/* flot */

.legend table {
  border-spacing: 5px;
}

/* authentication dialogs have an alert area */
.alert-area .alert-info {
  margin-bottom: 0;
  padding: 0;
}

.alert-area .alert-warning {
  background-color: #eee;
  border-color: #d6e9c6;
  color: #333;
  margin-bottom: 0;
  padding: 0;
}

.alert-area .alert-danger {
  margin-bottom: 0;
  padding: 0;
}

.auth-dialog input.form-control {
    margin-bottom: 10px;
}

.auth-dialog-help {
    padding: 20px;
    margin: 10px;
    border: 2px gray solid;
    border-radius: 6px;
    background-color: ivory;
    z-index: 2000;
}
.auth-dialog-help button {
    margin-right: 10px;
}

/* create account specific */
.password-mismatch {
  color: red;
  font-style: italic;
}

/* checkout display */
.btn-tiny {
  padding: 1px 3px 0px 4px;
  font-size: 10px;
}

/* Wait spinner */
#wait-spinner .modal-dialog {
  height: 50px; /* Any value displays as the same size, but this centers the box in the window */
  width: 62px !important; /* this value gets the spinner centered in the box */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* Generic tooltip */
#tooltip {
  position: absolute;
  display: none;
  border: 1px solid #fdd;
  padding: 2px;
  background-color: #fee;
  opacity: 0.80;
}

ul.dropdown-menu > li > a:hover {
    color: white;
    background-color: #337ab7;
}

.demo-container {
    box-sizing: border-box;
    /*width: 850px;*/
    /*height: 450px;*/
    padding: 20px 15px 15px 15px;
    margin: 15px auto 30px auto;
    border: 1px solid #ddd;
    background: #fff;
    background: linear-gradient(#f6f6f6 0, #fff 50px);
    background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.progress-placeholder {
    /*width: 100%;*/
    /*height: 100%;*/
    font-size: 14px;
    line-height: 1.2em;
}

.category-breakdown-wrapper {
    max-width: 575px;
}

.message-length-wrapper {
    max-width: 450px;
}

#feedback-categorization-placeholder {
    font-size: 14px;
    line-height: 1.2em;
    border: 1px red;
}

#message-length-placeholder {
    font-size: 14px;
    line-height: 1.2em;
    border: 1px red;
}

.deployment-performance {
    /* otherwise, the row has margins of -15, making it extend to the absolute limit of the window */
    margin-left: 0;
    margin-right: 0;
}

td.details-column {
    width: 2em;
}

td.details-control {
    cursor: pointer;
    text-align: center;
}
td.details-control::before {
    margin-top    : 5px;
    margin-bottom : 5px;
    font-size     : 12px;
    position      : relative;
    top           : 1px;
    display       : inline-block;
    font-family   : 'Glyphicons Halflings';
    font-style    : normal;
    font-weight   : 400;
    line-height   : 1;
    -webkit-font-smoothing : antialiased;
    content : '\2b';
}
tr.shown td.details-control::before {
     content : '\2212';
}
/* To use images for expand/collapse indicators:
td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}
*/

/* (odd) is lighter, (even) darker */
.table-striped > tbody > tr:nth-of-type(odd).deployment-progress-detail {
    background-color: lightyellow; /* #e7f3f9; */
}
.table-striped > tbody > tr:nth-of-type(even).deployment-progress-detail {
    background-color: lightgoldenrodyellow; /*#f9f9f9; */
}

#installation-progress-legend .excess {
    background: linear-gradient(#e68ae6, #ff99ff);
    color: black;
}
.table-striped > tbody > tr:nth-of-type(odd) .excess{
    background-color: #ff99ff;
    color: black;
}
.table-striped > tbody > tr:nth-of-type(even) .excess{
    background-color: #e68ae6;
    color: black;
}

#installation-progress-legend .perfect {
    background: linear-gradient(#e7f3f9, white);
}
.table-striped > tbody > tr:nth-of-type(odd) .perfect{
     /*background-color: #bfffbf;
     color: black;*/
}
.table-striped > tbody > tr:nth-of-type(even) .perfect{
    /*background-color: #ace6ac;
    color: black;*/
}

#installation-progress-legend .acceptable {
    background: linear-gradient(#ace6ac, #bfffbf);
    color: black;
}
.table-striped > tbody > tr:nth-of-type(odd) .acceptable{
    background-color: #bfffbf;
    color: black;
}
.table-striped > tbody > tr:nth-of-type(even) .acceptable{
    background-color: #ace6ac;
    color: black;
}

#installation-progress-legend .needs-improvement {
    background: linear-gradient(#e6b15c, #ffc766);
    color: black;
}
.table-striped > tbody > tr:nth-of-type(odd) .needs-improvement{
    background-color: #ffc766; /* #ffa500 */ /* fad201 - traffic yellow */
    color: black;
}
.table-striped > tbody > tr:nth-of-type(even) .needs-improvement{
    background-color: #e6b15c; /* darkerorange */
    color: black;
}

#installation-progress-legend .unacceptable {
    background: linear-gradient(#e64545, #ff4d4d);
    color: white;
}
.table-striped > tbody > tr:nth-of-type(odd) .unacceptable{
    background-color: #ff4d4d; /* notasdarkred */
    color: white;
}
.table-striped > tbody > tr:nth-of-type(even) .unacceptable {
    background-color: #e64545; /* #8b0000 */
    color: white;
}

#installation-progress-legend .missing {
    /* This is lighter than the actual light color; otherwise too hard to see. */
    background: linear-gradient(#333, #777);
    color: white;
}
.table-striped > tbody > tr:nth-of-type(odd) .missing{
    background-color: #555;
    color: white;
}
.table-striped > tbody > tr:nth-of-type(even) .missing {
    background-color: #333;
    color: white;
}

#installation-progress-legend {
    margin-top: -5px;
    line-height: 1.5;
}

#installation-progress-legend span {
    white-space: nowrap;
}

#installation-progress-legend span {
    border: 1px solid #ccc;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

#installation-details-timeframe {
    font-size: .45em;
    font-weight: 400;
}

.time-selected {
    font-size: 1.0em;
    font-weight: 600;
}

#installation-progress-summary .only-with-tb-count {
    display: none;
}
#installation-progress-summary.has-tb-count .only-with-tb-count {
    display: inline;
}

#installation-progress-summary .no-tb-count-warning{
    display: inline;
    font-family: italic;
}
#installation-progress-summary.has-tb-count .no-tb-count-warning{
    display: none;
    font-family: italic;
}

#installation-progress-summary.has-group-count .only-with-group-count {
    display: inline;
}
#installation-progress-summary .only-with-group-count {
    display: none;
}

#installation-progress-detail .group-name {
    font-style: italic;
    padding-left: 1em;
}

.installation-progress-timing-wrapper canvas {
    max-height: 200px;
}

.column-selector {
    margin-right: 15px;
}

/* File drop target */
#progspec-filename.over {
    border: 2px dashed #000;
}

div.progspec-validation {
    border: 2px solid darkgrey;
    border-radius:6px;
    background: aliceblue;
    padding: 8px;
    margin-top: 2rem;
}
div#progspec-validate-results,
div#progspec-validate-results-no-issues {
    background: floralwhite;
}
#progspec-validate-issues p {
    margin:0;
}
#progspec-validate-issues p:nth-child(3n+1) {
    background: cornsilk;
}

#usage-execute-query, #usage-customize-query, #usage-query-selection button {
    border-radius: 0 !important;
}

#usage-details-page-header {
    margin-bottom: 0 !important;
}
#usage-details-page-query {
    margin-top: 0 !important;
}
