.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.dashtable {
  margin: 20px;
  border: 2px solid lightgrey;
  border-radius: 5px;
  background-color: #e0edf7;
  box-shadow: 5px 8px 5px #bbb;
}

.dashtable .dataTables_filter {
  margin-top: 4px;
  margin-right: 4px;
  margin-bottom: -6px;
}

.detailtable {
  margin-bottom: 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  box-shadow: 3px 3px 3px 1px #eee;
  /* highlight rows are #e7f3f9, a light blue */
  background-color: #f9f9f9;
}

.detailtable table.table {
  /* apologies for !important; datatables makes their margin- !important, and I want to override it here. */
  margin-top: 0 !important;
}

.detailtable tr {
  padding: 2px;
}

.detailtable .table tbody tr td {
  padding: 1px 0 0 4px;
}

.detailtable .table tbody tr td p {
  padding: 0;
  margin: 0;
}

.detailtable .dataTables_filter {
  margin-top: 4px;
  margin-right: 4px;
  margin-bottom: -1px;
}

#project-select h4 {
  line-height: 34px;
}

#project-select select {
  height: inherit;
  margin: 0 15px 4px 15px;
}

.stat {
  font-style: italic;
}

.row.report_section {
  margin: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 5px 8px 5px #bbb;
}

.report_section p {
  margin-bottom: 2px;
}

.detailtable table {
  margin-bottom: 0;
}

.detailtable .question {
  height: 16px;
  width: 16px;
  margin-left: 10px;
}

.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #f0f5f7;
}

p.spacer {
  margin-bottom: 1em;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.amplio-logo {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 2em;
    color: #3ca779 !important; /* logo color */
}

/* flot */

.legend table {
  border-spacing: 5px;
}

/* authentication dialogs have an alert area */
.alert-area .alert-info {
  margin-bottom: 0;
  padding: 0;
}

.alert-area .alert-warning {
  background-color: #eee;
  border-color: #d6e9c6;
  color: #333;
  margin-bottom: 0;
  padding: 0;
}

.alert-area .alert-danger {
  margin-bottom: 0;
  padding: 0;
}

.auth-dialog input.form-control {
    margin-bottom: 10px;
}

.auth-dialog-help {
    padding: 20px;
    margin: 10px;
    border: 2px gray solid;
    border-radius: 6px;
    background-color: ivory;
    z-index: 2000;
}
.auth-dialog-help button {
    margin-right: 10px;
}

/* create account specific */
.password-mismatch {
  color: red;
  font-style: italic;
}

/* checkout display */
.btn-tiny {
  padding: 1px 3px 0px 4px;
  font-size: 10px;
}

/* Wait spinner */
#wait-spinner .modal-dialog {
  height: 50px; /* Any value displays as the same size, but this centers the box in the window */
  width: 62px !important; /* this value gets the spinner centered in the box */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* Generic tooltip */
#tooltip {
  position: absolute;
  display: none;
  border: 1px solid #fdd;
  padding: 2px;
  background-color: #fee;
  opacity: 0.80;
}

ul.dropdown-menu > li > a:hover {
    color: white;
    background-color: #337ab7;
}

.demo-container {
    box-sizing: border-box;
    /*width: 850px;*/
    /*height: 450px;*/
    padding: 20px 15px 15px 15px;
    margin: 15px auto 30px auto;
    border: 1px solid #ddd;
    background: #fff;
    background: linear-gradient(#f6f6f6 0, #fff 50px);
    background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.progress-placeholder {
    /*width: 100%;*/
    /*height: 100%;*/
    font-size: 14px;
    line-height: 1.2em;
}

.category-breakdown-wrapper {
    max-width: 575px;
}

.message-length-wrapper {
    max-width: 450px;
}

#feedback-categorization-placeholder {
    font-size: 14px;
    line-height: 1.2em;
    border: 1px red;
}

#message-length-placeholder {
    font-size: 14px;
    line-height: 1.2em;
    border: 1px red;
}

.deployment-performance {
    /* otherwise, the row has margins of -15, making it extend to the absolute limit of the window */
    margin-left: 0;
    margin-right: 0;
}

td.details-column {
    width: 2em;
}

td.details-control {
    cursor: pointer;
    text-align: center;
}
td.details-control::before {
    margin-top    : 5px;
    margin-bottom : 5px;
    font-size     : 12px;
    position      : relative;
    top           : 1px;
    display       : inline-block;
    font-family   : 'Glyphicons Halflings';
    font-style    : normal;
    font-weight   : 400;
    line-height   : 1;
    -webkit-font-smoothing : antialiased;
    content : '\2b';
}
tr.shown td.details-control::before {
     content : '\2212';
}
/* To use images for expand/collapse indicators:
td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}
*/

/* (odd) is lighter, (even) darker */
.table-striped > tbody > tr:nth-of-type(odd).deployment-progress-detail {
    background-color: lightyellow; /* #e7f3f9; */
}
.table-striped > tbody > tr:nth-of-type(even).deployment-progress-detail {
    background-color: lightgoldenrodyellow; /*#f9f9f9; */
}

#installation-progress-legend .excess {
    background: linear-gradient(#e68ae6, #ff99ff);
    color: black;
}
.table-striped > tbody > tr:nth-of-type(odd) .excess{
    background-color: #ff99ff;
    color: black;
}
.table-striped > tbody > tr:nth-of-type(even) .excess{
    background-color: #e68ae6;
    color: black;
}

#installation-progress-legend .perfect {
    background: linear-gradient(#e7f3f9, white);
}
.table-striped > tbody > tr:nth-of-type(odd) .perfect{
     /*background-color: #bfffbf;
     color: black;*/
}
.table-striped > tbody > tr:nth-of-type(even) .perfect{
    /*background-color: #ace6ac;
    color: black;*/
}

#installation-progress-legend .acceptable {
    background: linear-gradient(#ace6ac, #bfffbf);
    color: black;
}
.table-striped > tbody > tr:nth-of-type(odd) .acceptable{
    background-color: #bfffbf;
    color: black;
}
.table-striped > tbody > tr:nth-of-type(even) .acceptable{
    background-color: #ace6ac;
    color: black;
}

#installation-progress-legend .needs-improvement {
    background: linear-gradient(#e6b15c, #ffc766);
    color: black;
}
.table-striped > tbody > tr:nth-of-type(odd) .needs-improvement{
    background-color: #ffc766; /* #ffa500 */ /* fad201 - traffic yellow */
    color: black;
}
.table-striped > tbody > tr:nth-of-type(even) .needs-improvement{
    background-color: #e6b15c; /* darkerorange */
    color: black;
}

#installation-progress-legend .unacceptable {
    background: linear-gradient(#e64545, #ff4d4d);
    color: white;
}
.table-striped > tbody > tr:nth-of-type(odd) .unacceptable{
    background-color: #ff4d4d; /* notasdarkred */
    color: white;
}
.table-striped > tbody > tr:nth-of-type(even) .unacceptable {
    background-color: #e64545; /* #8b0000 */
    color: white;
}

#installation-progress-legend .missing {
    /* This is lighter than the actual light color; otherwise too hard to see. */
    background: linear-gradient(#333, #777);
    color: white;
}
.table-striped > tbody > tr:nth-of-type(odd) .missing{
    background-color: #555;
    color: white;
}
.table-striped > tbody > tr:nth-of-type(even) .missing {
    background-color: #333;
    color: white;
}

#installation-progress-legend {
    margin-top: -5px;
    line-height: 1.5;
}

#installation-progress-legend span {
    white-space: nowrap;
}

#installation-progress-legend span {
    border: 1px solid #ccc;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

#installation-details-timeframe {
    font-size: .45em;
    font-weight: 400;
}

.time-selected {
    font-size: 1.0em;
    font-weight: 600;
}

#installation-progress-summary .only-with-tb-count {
    display: none;
}
#installation-progress-summary.has-tb-count .only-with-tb-count {
    display: inline;
}

#installation-progress-summary .no-tb-count-warning{
    display: inline;
    font-family: italic;
}
#installation-progress-summary.has-tb-count .no-tb-count-warning{
    display: none;
    font-family: italic;
}

#installation-progress-summary.has-group-count .only-with-group-count {
    display: inline;
}
#installation-progress-summary .only-with-group-count {
    display: none;
}

#installation-progress-detail .group-name {
    font-style: italic;
    padding-left: 1em;
}

.installation-progress-timing-wrapper canvas {
    max-height: 200px;
}

.column-selector {
    margin-right: 15px;
}

div#progspec-validate-results,
div#progspec-validate-results-no-issues {
    background: floralwhite;
}
#progspec-validate-issues p {
    margin:0;
}
#progspec-validate-issues p:nth-child(3n+1) {
    background: cornsilk;
}

#usage-execute-query, #usage-customize-query, #usage-query-selection button {
    border-radius: 0 !important;
}

#usage-details-page-header {
    margin-bottom: 0 !important;
}
#usage-details-page-query {
    margin-top: 0 !important;
}

input.export-spreadsheet-filename:not(:placeholder-shown) {
    color: black;
}
input.export-spreadsheet-filename:placeholder-shown {
    font-style: italic;
    font-weight: 300;
}

/* File drop target */
#progspec-filename.over,
.load-local-filename.over {
    border: 2px dashed #000;
}

div.progspec-validation {
    border: 2px solid darkgrey;
    border-radius:6px;
    background: aliceblue;
    padding: 8px;
    margin-top: 2rem;
}

#program-specification-page.have-project .when-not-have-project {
    display: none;
}
#program-specification-page:not(.have-project) .when-have-project {
    display: none;
}
#program-specification-page.have-data .when-not-have-data {
    display: none;
}
#program-specification-page:not(.have-data) .when-have-data {
    display: none;
}
#program-specification-page:not(.have-current) .when-have-current {
    display: none;
}
#program-specification-page:not(.have-pending) .when-have-pending {
    display: none;
}

#program-specification-page p {

}
#program-specification-page .progspec-metadata,
#download-progspec-modal .progspec-metadata {
    background-color: #eee;
    font-family: monospace;
}
#program-specification-page .progspec-comment,
#download-progspec-modal .progspec-comment {
    margin-left: 20px;
    margin-top: -9px;
    font-size: 1.2rem;
}
.progspec-comment .progspec-comment-text {
    font-family: italic;
}

#program-specification-page.without-project div.need-project {
    display: none
}
#program-specification-page.with-project div.need-no-project {
    display: none
}

#progspec-diff-modal .modal-dialog {
    width: 90%;
    height: 90vh;
    padding: 0;
    margin-left: 5%;
    margin-top: 5vh;
}
#progspec-diff-modal .modal-content {
    border-radius: 6px;
}
#progspec-diff-modal .modal-body {
    max-height: calc(80vh - 8rem);
    overflow-y: auto;
}
#progspec-diff-modal .modal-body p {
    margin: 0;
}
.progspec-action {
  margin-top: 1rem;
  min-height: 12rem;
}

.progspec-action h3 {
  margin-top: -4px;
  margin-left: -4px;
  margin-right: -4px;
  padding: 4px;
}
#program-specification-actions button {
  border-radius:4px;
}
#program-specification-actions h3 {
  padding: 4px;
}
/* Incredibly over-specified styles for query builder. */

/*!
 * jQuery QueryBuilder 2.5.2
 * Copyright 2014-2018 Damien "Mistic" Sorel (http://www.strangeplanet.fr)
 * Licensed under MIT (https://opensource.org/licenses/MIT)
 */
.query-builder .rule-container, .query-builder .rule-placeholder,
.query-builder .rules-group-container {
    position: relative;
    margin: 4px 0;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #eee;
    background: rgba(255, 255, 255, .9)
}

/*.query-builder .error-container,*/ .query-builder .rule-container .rule-filter-container,
                                     .query-builder .rule-container .rule-operator-container, .query-builder .rule-container .rule-value-container {
                                         display: inline-block;
                                         margin: 0 5px 0 0;
                                         vertical-align: middle
                                     }

.query-builder .rules-group-container {
    padding: 10px 10px 6px;
    border: 1px solid #dcc896;
    background: rgba(250, 240, 210, .5)
}

.query-builder .rules-group-header {
    margin-bottom: 10px
}

.query-builder .rules-group-header .group-conditions .btn.readonly:not(.active),
.query-builder .rules-group-header .group-conditions input[name$='_cond'] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap
}

.query-builder .rules-group-header .group-conditions .btn.readonly {
    border-radius: 3px
}

.query-builder .rules-list {
    list-style: none;
    padding: 0 0 0 15px;
    margin: 0
}

/*.query-builder .rule-value-container {*/
/*    border-left: 1px solid #ddd;*/
/*    padding-left: 5px*/
/*}*/

/*.query-builder .rule-value-container label {*/
/*    margin-bottom: 0;*/
/*    font-weight: 400*/
/*}*/

/*.query-builder .rule-value-container label.block {*/
/*    display: block*/
/*}*/

/*.query-builder .rule-value-container input[type=number], .query-builder .rule-value-container input[type=text],*/
/*.query-builder .rule-value-container select {*/
/*    padding: 1px*/
/*}*/

/*.query-builder .error-container {*/
/*    display: none;*/
/*    cursor: help;*/
/*    color: red*/
/*}*/

.query-builder .has-error {
    background-color: #fdd;
    border-color: #f99
}

/*.query-builder .has-error .error-container {*/
/*    display: inline-block !important*/
/*}*/

.query-builder .rules-list > ::after, .query-builder .rules-list > ::before {
    content: '';
    position: absolute;
    left: -10px;
    width: 10px;
    height: calc(50% + 4px);
    border-color: #ccc;
    border-style: solid
}

.query-builder .rules-list > ::before {
    top: -4px;
    border-width: 0 0 2px 2px
}

.query-builder .rules-list > ::after {
    top: 50%;
    border-width: 0 0 0 2px
}

.query-builder .rules-list > :first-child::before {
    top: -12px;
    height: calc(50% + 14px)
}

.query-builder .rules-list > :last-child::before {
    border-radius: 0 0 0 4px
}

.query-builder .rules-list > :last-child::after {
    display: none
}

.query-builder.bt-checkbox-glyphicons .checkbox input[type=checkbox]:checked + label::after {
    font-family: 'Glyphicons Halflings';
    content: '\e013'
}

.query-builder.bt-checkbox-glyphicons .checkbox label::after {
    padding-left: 4px;
    padding-top: 2px;
    font-size: 9px
}

/*.query-builder .error-container + .tooltip .tooltip-inner {*/
/*    color: #f99 !important*/
/*}*/

/*.query-builder p.filter-description {*/
/*    margin: 5px 0 0 0;*/
/*    background: #d9edf7;*/
/*    border: 1px solid #bce8f1;*/
/*    color: #31708f;*/
/*    border-radius: 5px;*/
/*    padding: 2.5px 5px;*/
/*    font-size: .8em*/
/*}*/

.query-builder .rules-group-header [data-invert] {
    margin-left: 5px
}



.query-builder .dragging {
    position: fixed;
    opacity: .5;
    z-index: 100
}

.query-builder .dragging::after, .query-builder .dragging::before {
    display: none
}

.query-builder .rule-placeholder {
    border: 1px dashed #bbb;
    opacity: .7
}

li.off a i {
    opacity: 0;
}
.column-norm-indicator {
    font-size: 2rem;
    font-weight: 900;
}

/* Disable move-up on first item, move-down on last item */
div.rule-container:first-child li#move-up a,
div.rule-container:last-child li#move-down a {
    color: #666;
    cursor: not-allowed
}

.drag-filler-marker {
    -moz-transition: all 1.5s ease-in-out;
    -webkit-transition: all 1.5s ease-in-out;
    height: 48px;
    opacity: 0.35;
}

img.tableau-preview {
    border: 2px lightgray solid;
    box-shadow: 5px 8px 5px #bbb;
    width: 100%;
}

#tableau-preview-text.tableau-preview {
    /*top: 20%;*/
    /*left: 10%;*/
    /*position: absolute;*/
    font-size: 1.3EM;
    color: #777d;
    /*-webkit-text-stroke: 2px #44444477;*/
    /*text-stroke: 2px #44444477;*/
    /*transform: rotate(30deg);*/
}
#tableau-no-preview-text.tableau-preview {
    /*top: 50%;*/
    /*left: 31%;*/
    /*position: absolute;*/
    font-size: 2EM;
    color: #777d;
    /*-webkit-text-stroke: 1px #44444477;*/
    /*text-stroke: 1px #44444477;*/
}

#tableau-workbook-download-button {
    cursor: auto;
}
#tableau-workbook-download-button.disabled {
    cursor: not-allowed;
}


/***************************************************************************************************/
/*                              Roles Editor                                                       */

.roles-builder .roles-org, .roles-builder .roles-program {
    position: relative;
    margin: 4px 0;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #eee;
    background: rgba(255, 255, 255, .9)
}

.roles-info, .roles-info p {
    position: relative;
    margin: 0;
    border:none;
}
.roles-builder .roles-org {
    /*margin-left: 5px;*/
    /*background: rgb(250, 240, 210)*/
    border: 2px solid darkgrey;
}
.roles-builder .roles-org  .roles-org {
    /*margin-left: 5px;*/
    /*background: rgb(250, 240, 210)*/
    border: 2px solid lightgrey;
}

.roles-builder .roles-program {
    margin-left: 10px;
    background: rgb(210, 250, 240)
}

.roles-org.collapsed .roles-list {
    display: none;
}

/*!
 * jQuery QueryBuilder 2.5.2
 * Copyright 2014-2018 Damien "Mistic" Sorel (http://www.strangeplanet.fr)
 * Licensed under MIT (https://opensource.org/licenses/MIT)
 */
.roles-builder .roles-container,
.roles-builder .roles-group-container {
    position: relative;
    margin: 4px 0;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #eee;
    background: rgba(255, 255, 255, .9)
}

.roles-builder .roles-group-container {
    padding: 10px 10px 6px;
    border: 1px solid #dcc896;
    background: rgba(250, 240, 210, .5)
}

.roles-builder .roles-group-header {
    margin-bottom: 10px
}

.roles-builder .roles-group-header .group-conditions .btn.readonly:not(.active),
.roles-builder .roles-group-header .group-conditions input[name$='_cond'] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap
}

.roles-builder .roles-group-header .group-conditions .btn.readonly {
    border-radius: 3px
}

.roles-builder .roles-list {
    list-style: none;
    padding: 0 0 0 15px;
    margin: 0
}


.roles-builder .has-error {
    background-color: #fdd;
    border-color: #f99
}

.roles-image {
    max-height: 1.5em;
}

.role-label-container:not(.program-label) .roles-program-image {
    display: none;
}

.role-label-container:not(.org-label) .roles-org-image {
    display: none;
}

/* Make the + and - large and bold and the same width. */
.role-list-toggle, .roles-table-toggle {
    font-family: courier;
    font-size: 20px;
    font-weight: bolder;
}

/* Don't display the +/- toggle for program lines */
.roles-program-container .role-list-toggle {
    display: none;
}
/* Don't display the +/- toggle for the top */
.top-label .role-list-toggle {
    display: none;
}

/* Show + or - as appropriate */
.roles-org.collapsed > div > div > span > .role-list-toggle.collapse-role-list {
    display: none;
}
.roles-org:not(.collapsed) > div > div > span > .role-list-toggle.expand-role-list {
    display: none;
}
.org-label > .roles-label-text-span {
    cursor: pointer !important;
}
.user-label .roles-user-label-text {
    background: inherit;
    box-shadow: none;
}

/* Format the roles display */
.role-label-container {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.roles-label-roles-span {
    font-size: .9em;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(120,120,120);
}
.roles-label-roles-span:not(.no-roles) {
    /*cursor: pointer;*/
}
.roles-label-roles-span.no-roles {
    font-style: italic;
    font-size: .8em;
    color: darkgrey;
}
.roles-label-text {
    border-radius: 4px;
    cursor: default;
}
.roles-edit-button {
    border: 1px solid darkgrey;
    cursor: pointer;
}

/* format the roles table in the per-user roles display/edit dialog */
table.roles-table {
    width: 100%;
}
table.roles-table tr {
    vertical-align: top;
}
table.roles-table td:not(.roles-table-toggler) {
    padding-top: .4em;
}
table.roles-table, table.roles-table td {
    border: 1px solid lightgrey;
    padding: 2px 6px;
}
/* Formatting for the email cell in the table, either as a span or as an input. */
table.roles-table td.roles-table-email {
    width: 50%;
    padding-left: 0;
    padding-right: 0;
    text-align: right;
}
table.roles-table .roles-table-email span {
    text-align: right;
    margin-right: .5em;
}
table.roles-table .roles-table-email input {
    width: 100%;
    margin-right: .2em;
    border: none;
    text-align: right;
    color: black;
    background-color: inherit;
    /*text-overflow: ellipsis;*/
}

/* Formatting the new email mini-dialog */
.roles-table-new-email > div {
    display: block;
    overflow: hidden;
    margin-right: 5.5em;
    margin-top: 2px;
    border: 1px lightgrey solid;
}
.roles-table-new-email input {
    width: 100%;
}
.roles-table-new-email button {
    float: right;
}


.button-float-left {
    float: left;
}

/* expand and collapse the roles edit control */
.roles-table-row.collapsed .roles-table-roles-expanded,
.roles-table-row.collapsed .collapse-roles-edit{
    display: none;
}
.roles-table-row:not(.collapsed) .roles-table-roles-collapsed,
.roles-table-row:not(.collapsed) .expand-roles-edit{
    display: none;
}
/* visually combine the +/1 and the roles display/edit dialog. */
table.roles-table .roles-table-toggler {
    border-right: none;
    cursor: pointer !important;
    width: 1.5em;
}
table.roles-table .roles-table-roles {
    border-left: none;
}
table.roles-table ul {
    list-style-type: none;
    padding-left: 0;
}
table.roles-table ul label {
    margin-left: .5em;
}

/* Rules to draw the "tree" lines on the left of the items inside a .roles-list */
.roles-builder .roles-list > ::after, .roles-builder .roles-list > ::before {
    content: '';
    position: absolute;
    left: -10px;
    width: 10px;
    height: calc(50% + 4px);
    border-color: #ccc;
    border-style: solid
}

.roles-builder .roles-list > ::before {
    top: -4px;
    border-width: 0 0 2px 2px
}

.roles-builder .roles-list > ::after {
    top: 50%;
    border-width: 0 0 0 2px
}

.roles-builder .roles-list > :first-child::before {
    top: -5px;  /* was -12 */
    height: calc(50% + 6px)  /* was + 6 */
}

.roles-builder .roles-list > :last-child::before {
    border-radius: 0 0 0 4px
}

.roles-builder .roles-list > :last-child::after {
    display: none
}



/*                                                                                                 */
/***************************************************************************************************/
